Data/
.idea/
__pycache__
dataload_env
.ruff_cache
experiment.txt
taxonomy_exm.drawio
tax_env/
wandb/
triplets_env/
triplets_sci/
embeddings/
test.txt
*.swp
*.embed
*.bertembed
*.pickle.bin
DataInterface/test_ru_filter.edgelist
all_pairs.pickle
all_pairs_ppls.pickle
TExEval-2_testdata_1.2/data/food/
LexicalEntailment/data/
wnet/